.input-group-text{
    background-color: unset;
}

.navbar {
    background-color: #E8E8E8;
}

.nav-link {
    color: rgb(185, 87, 30);
}

.nav-link:hover{
    color: #8d8b8b ;
}

footer {
    background-color: #b9571e;
}

#button-inicio {
    background-color: #b9571e;
    border-color: #b9571e;
}

#button-inicio:hover{
    background-color: #8d8b8b;
    border-color: #8d8b8b;
}

#button-pregunta{
    margin:5px
}
#button-pregunta:hover{
    border-color: #b9571e;
}

.h2{
    display:flex;
    justify-content: center;
    margin-bottom:15px;
}

#button-form{
    background-color: #b9571e;
    border-color: #b9571e;
    margin-top: 10px;
}

#button-form:hover{
    border-color: #b9571e;
}

#button-accordion{
    color: #b9571e;
}

#button-accordion:hover{
    border-color: #b9571e;
}